.loader {
    position: absolute;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #007bff; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    left: 50%;
    top: 40%;    
}

.loader-light {
    position: absolute;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #007bff; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    opacity: 0.3;
    left: 50%;
    top: 40%;    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.oi-trash{
    stoke: red;
    fill: red;
}